<!-- Form fields with password and password confirmation for admin-->
<label>Password:</label>
<%= f.password_field :password %>

</br>

<label>Confirm Password:</label>
<%= f.password_field :password_confirmation %>
