<!-- Form fields with username, admin_access and scheme related access for admin-->
<label>Username:</label>
<%= f.text_field :username %>

</br>

<%= render(:partial=> 'edit_form', :locals => {:f => f}) %>
