<% provide(:title, "Code of conduct") %>


        <div class="container ">
        <h1>Code of Conduct</h1>
            <p class="text-break"><%= @codeOfConduct %></p>
        <br>
            <%=link_to "All schemes", schemes_path, class: "btn btn-primary" %>
    </div>
