<div class="modal fade" id="answer_questions" tabindex="-1" role="dialog" aria-labelledby="answer_questionsLabel" aria-hidden="true">
  <div class="modal-dialog answers-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="answer_questionsLabel">Answer preferrence questions:</h5>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col-sm-8 text-center">
                <%= render(:partial => 'answers/new') %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
                