<div class="modal fade" id="enroll_in_links_<%=scheme_id%>" tabindex="-1" role="dialog" aria-labelledby="enroll_in_linksLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enroll_in_linksLabel">Enroll in registration links: </h5>
      </div>
      <div class="modal-body">
        <p>Mentee's registration link: <%= link_to mentee_link, mentee_link, target: "_blank" %> </p>
        <p>Mentor's registration link: <%= link_to mentor_link, mentor_link, target: "_blank" %> </p>
        <%=link_to "Import recipients, send emails", enroll_in_mailings_path(scheme_id), class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
                