<div class="coordinators_show">
  <div class="container">

    <div class="container px-lg-2">
      <div class="col mx-lg-n2">


        <div class="row">
          Date:
        </div>
        <div class="row pb-2 font-weight-bold">
          <%= @coordinator.created_at %>
        </div>
        <div class="row">
          Enrollment role:
        </div>
        <div class="row pb-2 font-weight-bold">

          <%= @coordinator.role %>

        </div>
        <div class="row">
          User ID:
        </div>
        <div class="row pb-2 font-weight-bold">

          <%= @coordinator.user_id %>

        </div>



      </div>
    </div>
  </div>
</div>
