

<head>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>
<body>
<% provide(:title,"Coordinators") %>
  <div class="message-box box-large">
    <div class="container">
      <div class="row">
        <h2 class="pr-2 pr-sm-2 pr-md-2 pr-lg-2">Coordinators</h2>
      </div>
      <div class="row pb-3">
        <%= link_to("New Coordinator", new_scheme_coordinator_path(params[:scheme_id]), :method => "get", :class => "btn btn-outline-dark action new") %>
      </div>
      <div class="row pb-3">


      </div>


      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">User</th>

          </tr>
        </thead>
        <tbody>
          <% if @coordinators!=nil %>
          <% @coordinators.each do |coordinator| %>
          <div class ="row">
            <tr style="transform: rotate(0);">
              <th id="row_number" scope="row"> <%= coordinator.created_at%> </th>
              <td>
                <%= coordinator.user.username%>
              </td>

              <td scope="row" >

                <%= link_to(coordinator_path(coordinator), method: "delete",  data:  { confirm: "Do you really want to delete?" }  ,:class => "action delete icon-position") do %>
                <span data-toggle="tooltip" data-placement="top" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </span>
                <% end %>

              </td>
            </tr>
          </div>
          <% end %>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
   </div>

   </body>
