<% provide(:title,"User Verification") %>
<div class="row justify-content-center text-center">
  <div class="col-sm-4">
    <%= bootstrap_form_with(class: 'form-signin', url: '/user/verify', scope: :session, local: true) do |f| %>
      <h2 class="h2 mb-4 font-weight-normal">Enter KCL Email</h2>

      <%= f.text_field :email, class:"form-control" %>
      <%= f.submit "Submit Email", class: 'btn btn-primary' %>

    <% end %>
    <br>
    <%= link_to "Home page", "/", class: "btn btn-primary" %>
    
    
  </div>
</div>