<h1>About project</h1>

<p>This is the information and explanation how this project is run, 
what you should do if you want to participate and all other details</p>

<%= link_to "If you want to read terms and conditions, click here", informational_pages_path("terms_conditions")%>

<%= link_to "If you experienced any problems, click here", informational_pages_path("problem_solving")%>
