<h1>Experiencing problems?</h1>
<h2>Here are some solutions, that could help you</h2>
<br>
<hr>
<p>No internet?</p>
<p>Have you checked your router</p>
<hr>
<p>Your mentor is not responding?</p>
<p>Please, contact: <%= @support_contact %></p>
<hr>
<h4> Nice day, is it?</h4>