<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
        <%= link_to "Homepage", root_url, class: "nav-link", title: 'Homepage', "data-toggle" => "tooltip"%>
    </li>
    <li class="nav-item">
        <%= link_to "Login", user_login_path, class: "nav-link", title: 'User Login', "data-toggle" => "tooltip"%>
    </li>
    <li class="nav-item">
        <%= link_to "Admin login", admin_login_path, class: "nav-link", title: 'Admin Login', "data-toggle" => "tooltip" %>
    </li>
</ul>
