<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1> Dear Student, </h1>

        <p>Here is the link to register as a mentee in the KCL Buddy Scheme</p>
        <br>
        <p>You can register here: <%= @url_to_enroll %> </p>
    </body>
</html>